body {
	background-image: url("galaxy.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	margin: 0px;
}
.circle{
	background-color: black;
	opacity: 0.5;
	position: absolute;
	border-radius: 330px;
	border: 15px solid #7fff00;
	width: 640px;
	height: 640px;
	top: 0.5%;
	left: 28%;
	animation: rainbow 3s infinite linear;
}

.long_pointer{
	position: absolute;
	width: 10em;
	top: 14.5%;
	left: 38%;
	transform: rotate(0deg);
	transform-origin: 50% 84%;
	animation: rotate 3s infinite linear;
}

.short_pointer {
    position: absolute;
    width: 10em;
    top: 43.5%;
    left: 37.9%;
    transform: rotate(45deg);
    transform-origin: 51% 22%;
    animation: rotate 36s infinite linear;
}

.pivot{
	position: relative;
	background: red;
	border-radius: 100px;
	width: 60px;
	height: 60px;
	top: 46%;
	left: 46%;
	animation: pivot_rainbow 3s infinite linear;
}

.number{
	font-family: 'Righteous', cursive;
	font-size: 7em;
	position: absolute;
}

#one{
	top: 5%;
	left: 70%;
	animation: opacity_one 3s infinite linear, font_rainbow 3s infinite linear;
}

#two{
	top: 20%;
	left: 82%;
	animation: opacity_two 3s infinite linear, font_rainbow 3s infinite linear;
}

#three{
	top: 40%;
	left: 87%;
	animation: opacity_three 3s infinite linear, font_rainbow 3s infinite linear;
}

#four{
	top: 60%;
	left: 81%;
	animation: opacity_four 3s infinite linear, font_rainbow 3s infinite linear;
}

#five{
	top: 75%;
	left: 67%;
	animation: opacity_five 3s infinite linear, font_rainbow 3s infinite linear;
}

#six{
	top: 79%;
	left: 46%;
	animation: opacity_six 3s infinite linear, font_rainbow 3s infinite linear;
}

#seven{
	top: 75%;
	left: 27%;
	animation: opacity_seven 3s infinite linear, font_rainbow 3s infinite linear;
}

#eight{
	top: 60%;
	left: 12%;
	animation: opacity_eight 3s infinite linear, font_rainbow 3s infinite linear;
}

#nine{
	top: 40%;
	left: 5%;
	animation: opacity_nine 3s infinite linear, font_rainbow 3s infinite linear;
}

#ten{
	top: 18%;
	left: 9%;
	animation: opacity_ten 3s infinite linear, font_rainbow 3s infinite linear;
}

#eleven{
	top: 5%;
	left: 24%;
	animation: opacity_eleven 3s infinite linear, font_rainbow 3s infinite linear;
}

#twelve{
	top: -1%;
	left: 42%;
	animation: opacity_twelve 3s infinite linear, font_rainbow 3s infinite linear;
}

@keyframes rotate{
	from{transform: rotate(0deg);}
	to{transform: rotate(360deg);}
}

@keyframes rainbow{
	0%{border: 15px solid hsl(0,100%,60%);}
	16%{border: 15px solid hsl(60,100%,60%);}
	33%{border: 15px solid hsl(120,100%,60%);}
	49%{border: 15px solid hsl(180,100%,60%);}
	66%{border: 15px solid hsl(240,100%,60%);}
	84%{border: 15px solid hsl(300,100%,60%);}
	100%{border: 15px solid hsl(360,100%,60%);}
}

@keyframes font_rainbow{
	0%{color: hsl(0,100%,60%);}
	16%{color: hsl(60,100%,60%);}
	33%{color: hsl(120,100%,60%);}
	49%{color: hsl(180,100%,60%);}
	66%{color: hsl(240,100%,60%);}
	84%{color: hsl(300,100%,60%);}
	100%{color: hsl(360,100%,60%);}
}

@keyframes pivot_rainbow{
	0%{background: hsl(0,100%,60%);}
	16%{background: hsl(60,100%,60%);}
	33%{background: hsl(120,100%,60%);}
	49%{background: hsl(180,100%,60%);}
	66%{background: hsl(240,100%,60%);}
	84%{background: hsl(300,100%,60%);}
	100%{background: hsl(360,100%,60%);}
}

@keyframes opacity_one{
	0%{opacity: 0;}
	8.33%{opacity: 1;}
	100%{opacity: 0;}
}

@keyframes opacity_two{
	0%{opacity: 0;}
	16.66%{opacity: 1;}
	100%{opacity: 0;}
}

@keyframes opacity_three{
	0%{opacity: 0;}
	25%{opacity: 1;}
	100%{opacity: 0;}
}

@keyframes opacity_four{
	0%{opacity: 0;}
	33.32%{opacity: 1;}
	100%{opacity: 0;}
}

@keyframes opacity_five{
	0%{opacity: 0;}
	41.65%{opacity: 1;}
	100%{opacity: 0;}
}

@keyframes opacity_six{
	0%{opacity: 0;}
	50%{opacity: 1;}
	100%{opacity: 0;}
}

@keyframes opacity_seven{
	0%{opacity: 0;}
	58.31%{opacity: 1;}
	100%{opacity: 0;}
}

@keyframes opacity_eight{
	0%{opacity: 0;}
	66.64%{opacity: 1;}
	100%{opacity: 0;}
}

@keyframes opacity_nine{
	0%{opacity: 0;}
	75%{opacity: 1;}
	100%{opacity: 0;}
}

@keyframes opacity_ten{
	0%{opacity: 0;}
	83.3%{opacity: 1;}
	100%{opacity: 0;}
}

@keyframes opacity_eleven{
	0%{opacity: 0;}
	91.63%{opacity: 1;}
	100%{opacity: 0;}
}

@keyframes opacity_twelve{
	0%{opacity: 0;}
	100%{opacity: 1;}
}
